{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "brace-style": "error",
    "callback-return": "error",
    "comma-spacing": "error",
    "comma-style": "error",
    "consistent-return": "error",
    "curly": "error",
    "eol-last": "error",
    "eqeqeq": ["error", "smart"],
    "func-style": ["error", "declaration"],
    "global-require": "error",
    "guard-for-in": "error",
    "indent": ["error", 4, { "MemberExpression": "off" }],
    "new-cap": "error",
    "new-parens": "error",
    "no-else-return": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": ["error", {"boolean": false}],
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-loop-func": "error",
    "no-nested-ternary": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-trailing-spaces": "error",
    "no-var": "error",
    "no-with": "error",
    "radix": "error",
    "semi": "error",
    "strict": ["error", "global"],
    
    "mocha/handle-done-callback": "error",
    "mocha/no-exclusive-tests": "error",
    "mocha/no-global-tests": "error",
    "mocha/no-pending-tests": "error",
    "mocha/no-skipped-tests": "warn",
    "mocha/no-synchronous-tests": "error"
  }
}
